node_modules
.DS_Store
dist
dist-ssr
*.local
.debug.env

tmp
**/.tmp
release
icons.iconset

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/* sonarqube */
.scannerwork/